body {
 font-family: Arial, sans-serif;
    background-color: #141414;
    color: #fff;
    margin: 20;
    padding: 60px;
}

header {
  background: linear-gradient(to bottom, #000, #222);
  padding: 20px 20px;
}

header h1 {
  font-size: 6rem;
  color: #e50914;
  margin-bottom: 8px;
}

header p {
  font-size: 2.0rem;
  color: #ccc;
}

.poster-detalhe {
  width: 60%;
  max-width: 600px;
  height: auto;
  border-radius: 15px;
  margin: 40px auto;
  display: block;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  unicode-bidi: isolate;
}

section {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  padding: 0 20px 60px;
}

section h2 {
  color: #e50914;
  margin-bottom: 2px;
  font-size: 2rem;
}

section p {
  font-size: 1.8rem;
  line-height: 1.0;
  color: #ddd;
  margin-bottom: 0.8px;
}

.botao-assistir, .botao-voltar {
  display: inline-block;
  margin-top: 100px;
  text-decoration:color;
  color: #fff;
  background: #e50914;
  padding: 20px 50px;
  border-radius: 5px;
  font-weight: 1,2;
  }

.botao-assistir:hover {
  background-color: #b0060f;
}

.botao-voltar {
  background-color: #444;
  color: #fff;
}

.botao-voltar:hover {
  background-color:rgba
#00000000
(0, 0, 0, 0);;
}


@media (max-width: 768px) {
  header h1 {
    font-size: 2.5rem;
  }
  .poster-detalhe {
    width: 90%;
  }
  section {
    text-align: center;
  }
}
